@font-face {
  font-family: 'TReg';
  src:  url('Telegraf-Regular.woff2') format('woff2'),
        url('Telegraf-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Eleg';
  src:  url('MigraItalic-ExtralightItalic.woff2') format('woff2'),
        url('MigraItalic-ExtralightItalic.woff') format('woff');
}
body{
 background-color: #F5FBEF;
}
.txt{
font-family: Treg;
color: black;
text-decoration: none;
}
.capt{
font-family: Treg;
}
.arrow{
  font-family: Treg;
}
.caption{
  font-size: 0.8em;
}
.quote{
  font-family: Eleg;
}
.ft{
  font-size: 0.8em;
  color: black;
  text-decoration: none;
}
a{
  color: black;
  text-decoration: none;
}
.flowtext{
  font-size: 1em;
}
 @media screen and (max-aspect-ratio: 5/5)  {
   /* LONG BOY */
   p{
     margin-left: 8vw;
     margin-right: 8vw;
     width: 80vw;
   }
   body{
    background-color: #F5FBEF;
   }
   }
      @media screen and (min-aspect-ratio: 5/5)  {
        /* SQUARE BOY */
        p{
          margin-left: 13vw;
          width: 70vw;
        }
      }
      @media screen and (min-aspect-ratio: 6/5) {
      /* WIDEBOY */
      p{
        margin-left: 18vw;
        margin-right: 10vw;
        width: 60vw;
      }
    }
